---
pagination:
  data: collections.articles
  size: 1
  alias: article
permalink: "/category/{{ article.data.section | slugify }}/"
---
<!-- This is a dummy file to generate category folders. Content will be on a main category page if you build one. -->
